.labelHeading{
    font-size: 1.5rem;
    font-weight: 600; 
    text-align: center;
}
.iconSet{
    background-color:#BEBEBE;
    border-radius:0.2rem;
    color: #ffffff;
}
.pfRiskButtons{
    color: #ffffff !important;
    background-color: #00124F!important;
    border-radius: 2rem !important;
}
.iconSubHeading{
    font-size: 0.80rem;
    font-weight: 300;
    color:#2D2D2D;
}
.iconHeading{
    font-size: 0.80rem;
    font-weight: 400;
    color: #000000;
}
.textClasses{
    line-height: 1.2;
}
