.blink {
    animation: blinker 3s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

@media (max-width: 576px) {
    .input-group button {
        font-size: 12px;
        padding: 6px 2px;
        /* width: 46%; */
        min-width: unset;
    }


}
@media (max-width: 576px) {
    .mobile-btn-style {
      margin-top: 0.85rem;
      width: 50%;
    }
  }

  .responsive-nowrap {
  white-space: normal;
}

@media (min-width: 768px) {
  .responsive-nowrap {
    white-space: nowrap;
  }
}

.same-height-btn {
  height: 2.5rem;            /* ~40px if 1rem = 16px */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;        /* ~12px horizontal padding */
  font-size: 0.875rem;       /* ~14px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
