.blink {
    animation: blinker 3s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

@media (max-width: 576px) {
    .input-group button {
        font-size: 12px;
        padding: 6px 2px;
        /* width: 46%; */
        min-width: unset;
    }


}
@media (max-width: 576px) {
    .mobile-btn-style {
      margin-top: 0.85rem;
      width: 50%;
    }
  }

  .responsive-nowrap {
  white-space: normal;
}

@media (min-width: 768px) {
  .responsive-nowrap {
    white-space: nowrap;
  }
}
